.header {
  background-color: cadetblue;
  width: 100%;
  margin: 0;
}

.divlogo_gbaf {
  width: 100%;
  text-align: center;
}

.logo_gbaf {
  width: 20%;
}

.user_spec {
  text-align: center;
  margin-top: 2rem;
}

.user_spec form {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .header {
    display: flex;
  }
  .divlogo_gbaf {
    text-align: left;
    margin-left: 5%;
  }
  .user_spec {
    width: 50%;
  }
}
