body {
  margin: 0;
}

h1 {
  text-align: center;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 2rem;
}

.footer a {
  color: black;
}

.form_login {
  margin-top: 5rem;
  text-align: center;
  height: 10rem;
}

.inscription {
  text-align: center;
}
