body {
  margin: 0;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.footer {
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0.2em;
}

.footer a {
  color: black;
}

.form_login {
  margin-top: 3rem;
  text-align: center;
  height: 6rem;
}

.recoverpass {
  text-align: center;
  margin-top: 2rem;
}

.inscription {
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 10rem;
}

.register_form {
  display: flex;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.nom_champ {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.champ {
  display: flex;
  flex-direction: column;
}

.logoactor {
  width: 480px;
  height: 148px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.actorpage {
  display: block;
  text-align: right;
  margin-right: 2%;
  margin-bottom: 2%;
}
.acteurs_partenaire {
  margin-right: 2%;
  margin-left: 2%;
}

.actordisplay {
  margin-bottom: 3%;
  border-width: 0.2rem;
  border-style: solid;
}

.actordisplay h3 {
  margin: auto;
}
.actordesc {
  margin-left: 2%;
}

.form_recoverpass {
  display: flex;
  height: 20rem;
  margin-right: 20%;
  margin-left: 20%;
}

.form_recoverpass div {
  display: flex;
  flex-direction: column;
}

.nomchamp_recoverpass {
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: 1rem;
}

.champ_recoverpass {
  margin-top: 6.4rem;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: 1rem;
}

.passmodified {
  text-align: center;
  font-weight: 500;
  margin-top: 2rem;
}

/* Breakpoint */
@media (min-width: 768px) {
  .actordisplay {
    display: flex;
  }

  .logoactor {
    margin-right: 8px;
  }

  .actorpage {
    width: 170px;
    margin-bottom: 0;
    margin: auto;
    margin-right: 2%;
  }

  .actordesc {
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .actordesc {
    display: flex;
  }
}
