body {
  margin: 0;
}

h1 {
  text-align: center;
}

.footer {
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
}

.footer a {
  color: black;
}

.form_login {
  margin-top: 5rem;
  text-align: center;
  height: 10rem;
}

.inscription {
  text-align: center;
}

.register_form {
  display: flex;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.nom_champ {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.champ {
  display: flex;
  flex-direction: column;
}
